<div class="jumbotron">
<p style="padding-top: 5%" align="center">
<img src="assets/pic.png" width="200" height="200">
</p>

<div align="center">
<h4><b style="color: blue;">Name-</b> <b style="color: red;">Siddhartha Banerjee</b><br><br>

	Full Stack Development<br>&<br>Competitive Coding Enthusiast
<br><br>
</h4>
</div>
<br>
<p align="center">

<a href="https://www.hackerrank.com/sidban1999"><span style="padding-left: 0%"><img src="assets/hackerrank.png" width="35" height="35"></span></a>
<a href="https://www.hackerearth.com/@siddhartha190"><span style="padding-left: 5%"><img src="assets/hackerearth.png" width="35" height="35"></span></a>
<a href="https://www.linkedin.com/in/siddhartha-banerjee-1b802316b/"><span style="padding-left: 5%"><img src="assets/linkedin.jpg" width="35" height="35"></span></a>
<a href="https://www.codechef.com/users/siddhartha1999"><span style="padding-left: 5%"><img src="assets/codechef.jpg" width="35" height="35"></span></a>

</p>
<p align="center">
	<b style="color: blue;">Mobile-</b> +91-8017411872<br>
<b style="color: blue;">Email- </b>sidban1999@gmail.com<br>
</p>
		
		
</div>